<!-- templates/index.html -->
<!doctype html>
<html lang="en">
<head>
  <title>Data Listing</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  
  <script>
    function refresh(url) {
      // Hide the 'main' div
      document.getElementById('main').style.display = 'none';
      document.getElementById('busy').style.display = 'block';

    setInterval(function() {
      var myDiv = document.getElementById('busy');
      myDiv.textContent = myDiv.textContent + '.';
    }, 400);
  
      // Redirect to the new URL
      window.location.href = url;
    }
    
  </script>

</head>

<body>
  <h2><div class="container" id="busy" style="display: none;width:500px;">Working....</div></body></html></h2>
  <div class="container" id="main">
      <h1>Select an assignment</h1>
      <hr>
        <ul>
          {% for item in data %}
            <li>
              <a href="{{ url_for('correct', assignment_id=item.assignment_id) }}" onclick="event.preventDefault(); refresh(this.href);">{{ item.course_name }}, {{ item.assignment_name }}</a>
            </li>
          {% endfor %}
        </ul>
      <hr>
      <div class="button-container">
        <a href="{{ url_for('section.section_list') }}" class="button blue-button">Home</a>
        <a href="{{ url_for('section.section_refresh') }}" class="button green-button" onclick="event.preventDefault(); refresh(this.href);">Refresh</a>
      </div>
      </div>
  </div>

  <div class="stripe"></div>
</body>


</html>
