<!DOCTYPE html>
<html>

<head>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rate.css') }}">
    <script src="/static/js/rate.js"></script>
    <style>

    </style>

    <script>

    </script>

    <title>
        {% if data[0] is defined %}
            Rate {{ data[0]['assignment_name'] }}
        {% else %}
            Nothing
        {% endif %}
    </title>
</head>

<body style='background-color:#f8f8f8'>
    <div class="container mt-5">
        {% if data[0] is defined %}
        <form action="/submit-ratings" method="POST">

            {% for item in data %}

            <!-- This is a trick, when this picture/pdf is attachment number n and n>1,
                     this picture/pdf is inserted into the DOM model and we skip the whole section where a rating form is created, Cool huh? -->
            {% if item['att_nr'] > 1 %}
                {% if item['file_type'] in ['png','jpg'] %}
                    <script>window.onload = addImage('/{{ item.file_content[3:] }}', '{{ item.submission_id }}', '{{ item.file_name }}')</script>
                {% endif %}
                {% if item['file_type'] == 'pdf' %}
                    <script>window.onload = addPdf('/{{ item.file_content[3:] }}', '{{ item.submission_id }}')</script>
                {% endif %}
                {% continue %}
            {% endif %}

            <div class="card mb-4 p-3 paper">
                <h3 class="mb-3">#{{loop.index}} : {{ item['course_name']}} - <a
                        href="https://talnet.instructure.com/courses/{{item['course_id']}}/assignments/{{item['assignment_id']}}"
                        class="black-link" target=”_blank">{{item['assignment_name']}}</a></h3>

                <h5 class="mb-3" style="color:blue;">{{ item['user'] }}</h5>

                <input id="aid_{{ loop.index }}" type="hidden" name="assignment_id[]"
                    value="{{ item['assignment_id'] }}">
                <input id="sid_{{ loop.index }}" type="hidden" name="submission_id[]"
                    value="{{ item['submission_id'] }}">
                <input id="cid_{{ loop.index }}" type="hidden" name="course_id[]" value="{{ item['course_id'] }}">

                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="marked-box" style="background-color:#FDFCF2;">
                            {{ item['hint'] }}
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Hint" class="col-sm-2 col-form-label">Attachments:</label>
                    <div class="col-sm-6">
                        <div class="col-form-label grey">
                            {{ item['number_of_att'] }}
                        </div>
                    </div>
                </div>

                <div class="form-group row">

                    <label for="file_content" class="col-sm-2 col-form-label"></label>

                    <div id="{{item['submission_id']}}" class="col-sm-10">
                        {% if item['file_type'] in ['png', 'jpg'] %}
                            <img src="/{{ item['file_content'][3:] }}" onclick="toggleFullSize(this)" alt="Image">
                        {% elif item['file_type'] == 'pdf' %}
                            <iframe src="/{{ item['file_content'][3:] }}" alt="PDF"><br>
                            <a href="/{{ item['file_content'][3:] }}" class="small-link" target="_blank">Open PDF</a>
                        {% else %}
                            <textarea id="file_content_{{ loop.index }}" class="form-control"
                                rows="15">{{ item['file_content'] }}</textarea>
                            <span class="small-grey">{{item['file_name']}}</span>
                        {% endif %}
                    </div>
                </div>

                {% if item['words_correct'] >=0 %}
                <div class="form-group row">
                    <label for="words_found" class="col-sm-2 col-form-label">Words found:</label>
                    <div class="col-sm-10">
                        <div id="words_found_{{ loop.index }}" class="form-control read-only-box">
                            {% for word in item['words_in_order'] %}
                                {% if loop.index <= item['words_correct'] %}
                                        <span style="font-weight:bold;color:green;">{{word }}</span>
                                    {% else %}
                                        <span style="font-weight:bold;color:red;">{{ word }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="words_correct" class="col-sm-2 col-form-label">Words correct:</label>
                    <div class="col-sm-2">
                        <div id="words_correct__{{ loop.index }}" class="col-form-label">
                            {{ item['words_correct'] }}
                            {% if item['words_correct'] == item['number_of_words'] %}
                                (all)
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="form-group row">
                    <label for="rating" class="col-sm-2 col-form-label">Rating:</label>
                    <div class="col-sm-1">
                        <input type="text" id="rating_{{ loop.index }}" name="rating[]" value="{{ item['rating'] }}"
                            class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <div class="col-form-label grey">
                            {% if item['rating'] != item['points_possible'] %}
                                        <a class="button rate" id="button_rate_{{ loop.index }}"
                                                onclick="setFeedbackAndRating('{{ loop.index }}',
                                                '{{ item.alt_feedback }}', '{{ item.points_possible }}')">Correct</a>
                            {% endif %}
                            (Attempt {{item['attempt']}}, Max points {{item['max_points']}}/{{item['points_possible']}})
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="feedback" class="col-sm-2 col-form-label">Feedback:</label>
                    <div class="col-sm-6">
                        <textarea id="feedback_{{ loop.index }}" name="feedback[]"
                            onblur="focusInputField( 'rating_' + '{{ loop.index }}', '{{ item.points_possible }}' )"
                            class="form-control" rows="5">{{ item['feedback'] }}</textarea>
                    </div>
               
                    <div class="col-sm-4">
                        <div class="comments-field" onclick="expandTextField(this)">{{ item['comments'] | safe }}</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="feedback" class="col-sm-2 col-form-label">Rate:</label>
                    <div class="col-sm-1">
                        &nbsp;&nbsp;<input type="checkbox" id="cb_{{ loop.index }}" name="check_box[]"
                            onchange="updateCheckboxValue('{{ loop.index }}')" style="transform: scale(1.5);" checked>
                        <input type="hidden" name="checked[]" id="hidden_checkbox_{{loop.index}}" value="1">
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-1">
                        <a class="button" onclick="rateViaCanvas('{{ loop.index }}', '{{ item.course_id }}', '{{ item.assignment_id }}', '{{ item.user_id }}')">Canvas➞</a>
                    </div>
                </div>

            </div>

            {% endfor %}

            <div class="form-group row text-right">
                <div class="col-sm-10 offset-sm-2">
                    {% if alreadySubmitted == 0 %}
                    <button type="submit" class="btn btn-danger">Rate all checked </button>
                    {% endif %}
                </div>
            </div>

        </form>
        {% else %}
            <h2>Oops...nothing found to rate.</h2>
        {% endif %}
    </div>
</body>

</html>