<!DOCTYPE html>
<html>
<head>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
      /* Add a scrollbar to textareas */
      textarea {
          overflow-y: auto;
          resize: both;  /* Allow the user to resize the textarea */
      }
    </style>
    <script>
        function updateCheckboxValue(i) {
            var visibleCheckbox = document.getElementById("cb_" + i);
            var hiddenCheckboxValue = document.getElementById("hidden_checkbox_" + i);

            if (visibleCheckbox.checked) {
                hiddenCheckboxValue.value = "1";
            } else {
                hiddenCheckboxValue.value = "0";
            }
        }
    </script>

</head>

<body>
    <div class="container mt-5">
        <form action="/submit-ratings" method="POST">
            
            {% for item in data %}
                <div class="card mb-4 p-3">
                    <h2 class="mb-3">{{ item['course_name']}} - {{item['assignment_name']}} </h2>
                    <h3 class="mb-3">{{ item['user'] }}</h2>
                
                    <input id="aid_{{ loop.index }}" type="hidden" name="assignment_id[]" value="{{ item['assignment_id'] }}">
                    <input id="sid_{{ loop.index }}" type="hidden" name="submission_id[]" value="{{ item['submission_id'] }}">
                    <input id="cid_{{ loop.index }}" type="hidden" name="course_id[]" value="{{ item['course_id'] }}">

                    <div class="form-group row">
                        <label for="Hint" class="col-sm-2 col-form-label">Hint:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ item['hint'] }}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Hint" class="col-sm-2 col-form-label">Aantal attachments:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ item['number_of_att'] }}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        
                        <label for="file_content" class="col-sm-2 col-form-label">File Content:</label>

                        {% if item['file_content'][:3] == 'fn:' %}
                            <div class="col-sm-10">
                                {{ item['file_content'][3:] }}
                                <img src="/{{ item['file_content'][3:] }}" width="1000" alt="My Image">
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                <textarea id="file_content_{{ loop.index }}" class="form-control" rows="15">{{ item['file_content'] }}</textarea>
                            </div>
                        {% endif %}
                    </div>

                    {% if item['words_correct'] >=0 %}
                        <div class="form-group row">
                            <label for="words_found" class="col-sm-2 col-form-label">Words found:</label>
                            <div class="col-sm-10">
                                <input type="text" id="words_found_{{ loop.index }}" value="{{ item['words_in_order'] | join(' ') }}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="words_correct" class="col-sm-2 col-form-label">Words correct:</label>
                            <div class="col-sm-10">
                                <input type="text" id="words_correct__{{ loop.index }}" value="{{ item['words_correct'] }}" class="form-control" readonly>
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="form-group row">
                        <label for="rating" class="col-sm-2 col-form-label">Rating:</label>
                        <div class="col-sm-10">
                            <input type="text" id="rating_{{ loop.index }}" name="rating[]" value="{{ item['rating'] }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="feedback" class="col-sm-2 col-form-label">Feedback:</label>
                        <div class="col-sm-10">
                            <textarea id="feedback_{{ loop.index }}" name="feedback[]" class="form-control">{{ item['feedback'] }}</textarea>
                        </div>
                    </div>

                    <div class="form-group row  text-right">
                        <div class="col-sm-10">
                            Rate: 
                            <input type="checkbox" id="cb_{{ loop.index }}" name="check_box[]" onchange="updateCheckboxValue({{loop.index}})" checked>
                            <input type="hidden" name="checked[]" id="hidden_checkbox_{{loop.index}}" value="1">
                        </div>
                    </div>
                        
                </div>

            {% endfor %}

            <div class="form-group row text-right">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-danger">Rate all checked</button>
                </div>
            </div>

        </form>
    </div>
</body>
</html>
