<!-- templates/index.html -->
<!doctype html>
<html lang="en">
<head>
  <title>Data Listing</title>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

</head>

<body>
  <div class="container">
      <h1>Available for correcting -W</h1>
      <hr>
        <ul>
          {% for item in data %}
            <li>
              <a href="{{ url_for('correct', assignment_id=item.assignment_id) }}">{{ item.course_name }}, {{ item.assignment_name }}</a>
            </li>
          {% endfor %}
        </ul>
      <hr>
      <div class="button-container">
        <a href="{{ url_for('section.section_list') }}" class="button blue-button">Home</a>
        <a href="{{ url_for('section.section_refresh') }}" class="button green-button">Refresh</a>
      </div>
  </div>

  <div class="stripe"></div>
</body>


</html>
