<!DOCTYPE html>
<html>
<head>
    <title>Validation Test</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body style="background-color:#f8f8f8">

    <div class="container">
        <h2 class="my-3">Validation Test</h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{ form.text.label }}</label>
                <div class="col-sm-10">
                    {{ form.text(class="form-control", rows=14) }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{ form.words.label }}</label>
                <div id="words" class="col-sm-10">
                    {{ form.words(class="form-control") }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <div class="form-group">
                        
                    </div>
                </div>
                <div class="col-sm-10">
                    {{ form.submit(class="btn btn-primary") }} &nbsp;
                </div>
            </div>

            <div class="row border" style="padding:10px;background-color:#ffffff">
                <div class="col-sm-2">
                    Results
                </div>
                <div class="col-sm-10">
                    {% for word in words %}
                        {% if loop.index <= wordsMatched %}
                            <span style="font-weight:bold;color:green;">{{ word }}</span>
                        {% else %}
                            <span style="font-weight:bold;color:red;">{{ word }}</span>
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>

            <div class="row border" style="padding:10px;background-color:#ffffff">
                <div class="col-sm-2">
                    Match
                </div>
                <div class="col-sm-10">
                    {% if match %}
                        <span style="font-weight:bold;color:green;">
                    {% else %}
                        <span style="font-weight:bold;color:red;">{{ word }}</spaan>
                    {% endif %}
                    {{ match }}<span></span>

                </div>
            </div>

            <div class="row border" style="padding:10px;background-color:#ffffff;">
                <div class="col-sm-2">
                    Words matched
                </div>
                <div class="col-sm-10">
                    {{ wordsMatched }}
                </div>
            </div>

        </form>

        <div class="row" style="padding:10px;margin-top:80px;"></div>

        <div class="row border" style="padding:10px;background-color:#ffffff;">
    
            <div class="col-sm-12">
                <p></p>
                <h4>Auto Grading</h4>
                <p>For each submission, only one attachment will be auto-graded. This attachment must be a text file. Currently, we support files with the extensions php, sql, js.</p>
                <p>Any png attachments will be displayed on the grading screen.</p>
                <p>Auto-grading is based on occurrences of words. In its simplest form, words are matched in order. Matching is based on case-insensitive partial matches, for example, 'Word' will match 'word01'.</p>
                <p>When a match is found, any subsequent word will be scanned for in the text from the position of the last match.</p>
                <h4>Negative Search</h4>
                <p>When a word starts with a <b>'!'</b>, this word <b>must not</b> occur in the text (negative search). If the word must not occur in the entire text, start with the negative match (place it at the beginning of your word list).</p>
                <h4>Any-order Search</h4>
                <p>When a group of words is placed between <b>( and )</b>, the words may occur in <b>any order</b>. So 'word1 word2' will match the text 'word2 word1'.</p>
                <h4>Or Search</h4>
                <p>When a group of words is placed between <b>[ and ], one or more</b> of these words must match. When a word matches, the algorithm will not try to match the next word in this group, hence the search position is advanced to the first match.</p>
            </div>
        </div>

        <div class="row" style="padding:10px;margin-top:80px;"></div>

    </div>

</body>
</html>
